.websiteImg {
  height: 100% !important;
  width: auto;
}

.personalPortrait {
  display: block;
  border: 5px solid #39A4B6;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
}



.typeDesign {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

hr.style3 {
  border-top : 1px dashed #8c8b8b;
}

h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 23px;
}

.spacing1 {
  padding: 70px;
}

.spacing2 {
  padding: 30px;
}

.spacing3 {
  padding: 15px;
}

.spacing4{
  padding: 50px;
}

.spacing5{
  padding: 10px;
}

.spacing6{
  padding: 70px;
}



.portfolio, .aboutMe, .experience {
  max-width: 900px;
  margin: auto;
}

div.gallery {
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
  overflow: hidden;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}


.row {
  margin: 2px - 8px;
}

.row,
.row > .column {
  padding: 8px;
}
.column {
  float: left;
  width: 25%;
}

.websiteImg {
  height: 100% !important;
  width: auto;
}

.myImg {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
  cursor: zoom-in;
}


footer {
  display: block;
  background: #212223;
}

#footerContent {
  color: white;
}

#lastModified, .modified {
  font-size: 0.85em;
  color: white;
}

a.mailer {
  color: white;
}

@media screen and (max-width: 900px){
  .column {
    width: 50%;
  }

  .portfolio {
    max-width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 600px){
  .aboutMe, .experience{
    max-width: 400px;
  }
  .education {
    max-width: 400px;
    margin: auto;
  }

  .column {
    width: 100%;
  }

  .portfolio {
    max-width: 200px;
    margin: auto;
  }
  .spacing6{
    padding: 20px;
  }

  .personalPortrait {
    display: block;
    border: 3px solid #39A4B6;
    border-radius: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 50%;
  }
}
